body, html
{
	font-size: 20px !important;
}

.nav__item
{
	padding: 25px 35px !important;
	margin: 5px !important;
}

.main__content
{
	width: 80% !important;
	margin: 0 auto !important;
}

.ui-button
{
	padding: 20px 35px !important;
}